
*.db

fastlane/README.md

fastlane/report.xml

WTSegment.xcodeproj/xcuserdata/wutongr.xcuserdatad/xcschemes/xcschememanagement.plist

fastlane/test_output/report.html

fastlane/test_output/report.junit

WTSegment.xcodeproj/project.xcworkspace/xcuserdata/wutongr.xcuserdatad/UserInterfaceState.xcuserstate

WTSegment.xcodeproj/project.xcworkspace/xcuserdata/wutongr.xcuserdatad/UserInterfaceState.xcuserstate

WTSegment.xcodeproj/project.xcworkspace/xcuserdata/wutongr.xcuserdatad/UserInterfaceState.xcuserstate
